/*****
──── General Window ─────────────────────────────────────────────────
*****/
window {
    transparency:                "real";
    location:                    center;
    anchor:                      center;
    fullscreen:                  false;
    width:                       85%;
    x-offset:                    0px;
    y-offset:                    0px;

    enabled:                     true;
    margin:                      0px;
    padding:                     0px;
    border:                      2px solid;
    border-radius:               0px;
    border-color:                @active-background;
    background-color:            @background;
    cursor:                      "default";
}

/*****
──── Main Box ─────────────────────────────────────────────────
*****/
mainbox {
    enabled:                     true;
    spacing:                     20px;
    margin:                      0px;
    padding:                     30px;
    border:                      0px solid;
    border-radius:               0px 0px 0px 0px;
    border-color:                @active-background;
    background-color:            transparent;
    children:                    [ "inputbar", "listview" ];
}
