/*****
──── Input ─────────────────────────────────────────────────
*****/
inputbar {
    enabled:                     true;
    spacing:                     0px;
    margin:                      0px;
    padding:                     0px 0px 15px 0px;
    border:                      0px;
    border-radius:               0px;
    border-color:                @active-background;
    background-color:            @background;
    text-color:                  @foreground;
    children:                    [ "prompt", "textbox-prompt-colon", "entry" ];
}

prompt {
    enabled:                     true;
    padding:                     15px;
    border-radius:               10px;
    background-color:            @active-background;
    text-color:                  @background;
}
textbox-prompt-colon {
    enabled:                     true;
    expand:                      false;
    str:                         "::";
    padding:                     15px;
    background-color:            inherit;
    text-color:                  inherit;
}
entry {
    enabled:                     true;
    width:                       350px;
    padding:                     15px 0px;
    background-color:            inherit;
    text-color:                  inherit;
    cursor:                      text;
    placeholder:                 "Search...";
    placeholder-color:           inherit;
}
