@import "../../../.cache/wal/colors-waybar.css";

* {
  font-family: "CaskaydiaCove Nerd Font Propo", sans-serif;
  font-size: 12.5px;
  font-weight: bold;

  border: none;
  border-radius: 0px;

  min-height: 0;
  padding: 0;
  margin: 0;
}

window#waybar {
  background: transparent;
}

/* ---- This's applied to every module ------------- */
tooltip {
  background: @background;
  border: 1px solid @color2;
  border-radius: 12px;
}

tooltip label {
  color: @foreground;
  padding: 6px;
}
